.timeline {
  display: flex;
  flex-direction: row;
}

.top-container {
  /* background-color: rgb(140, 182, 182); */
  display: flex;
  justify-content: space-between;
}

.stories {
  height: 13vh;
  width: 90vh;
  /* background-color: rgb(157, 138, 173); */
  display: flex;
}

.story-users {
  margin: 15px 15px;
  height: 100px;
  width: 100px;
}

.timelineleft {
  flex: 0.7;
}

.timelineright {
  flex: 0.3;
}

.profile {
  /* background-color: rgb(194, 215, 216); */
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 1em;
  margin-bottom: 2em;
  width: 22em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile button {
  border: 0;
  background-color: white;
  color: rgb(102, 135, 197);
  font-weight: 900;
  margin-right: 5px;
}

.profile button:hover {
  cursor: pointer;
  color: black;
}

.user-profile {
  flex-direction: row;
  display: flex;
  align-items: center;
}
.profile-name {
  flex-direction: column;
  display: flex;
  margin: 2px 8px;
}
.userName {
  font-weight: bold;
}
.onlyName {
  font-weight: lighter;
  font-size: small;
}

@media only screen and (max-width: 1190px) {
}
