.timeline {
  display: flex;
  flex-direction: row;
}

.top-container {
  /* background-color: rgb(140, 182, 182); */
  display: flex;
  justify-content: space-between;
}

.stories {
  height: 80%;
  width: 55%;
  /* background-color: rgb(191, 171, 209); */
  display: flex;
}

.story-users {
  margin: 15px 15px;
  height: 100px;
  width: 100px;
}

.timelineleft {
  flex: 0.7;
}

.timelineright {
  flex: 0.3;
}
