.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgb(226, 223, 223);
  padding: 1em 2em;
  margin-top: 2em;
  margin-bottom: 0.5em;
  width: 17vw;
  min-width: 7vw;
  /* margin: 15px 0; */
}

.signup-top {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-weight: bolder;
  /* min-width: 15vw; */
}

.signup > img {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}
.signup input {
  padding: 5px 6px;
  align-items: center;
  margin: 4px 0;
  border: 1px solid rgb(226, 223, 223);
}
.signup-top span {
  font-size: small;
  color: grey;
}

.signup > input::placeholder {
  font-size: smaller;
}

.signup-button {
  margin: 6px 0;
  border: 0;
  background-color: rgba(76, 181, 249, 255);
  color: white;
  font-size: small;
  font-weight: bold;
  border-radius: 0.3em;
  padding: 6px 0;
}
.signup-button:hover {
  cursor: pointer;
}

.signup-top button {
  margin: 15px 0;
  border: 0;
  background-color: rgb(51, 135, 204);
  color: white;
  font-weight: bold;
  border-radius: 0.3em;
  /* vertical-align: middle; */
  align-items: center;
  text-align: center;
}
/* 
.fbicon {
  /* margin-top: 2px; 
  text-align: center;
  align-items: center;
} */

.signup p {
  text-align: center;
  color: grey;
  font-size: 10px;
}

.signup a {
  margin: 0 3px;
  text-decoration: none;
  font-size: smaller;
}

@media only screen and (max-width: 320px) {
  .signup {
    border: 0;
  }
}

@media only screen and (max-width: 1153px) {
  .signup img {
    margin-right: 10em;
  }
}
