.sidenav-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1; /*this makes navbar to be on top of all elements on screen */
  box-shadow: 20px;
  width: 30vh;
  /* height: 100vh; */
}

.sidenavLogo {
  width: 120px;
  margin: 20px 10px 20px 1px;
}

.sidenavButtons {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 180px; */
  /* top: 5px; */
}

.sidenavbutton {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0;
  background: 0;
  margin: 5px 10px;
  padding: 10px 15px;
  border-radius: 10px;
  width: 100%;
}

.sidenavbutton span {
  margin-left: 8px;
  font-size: 15px;
  font-weight: 300;
}

.sidenavbutton:hover {
  cursor: pointer;
  background-color: rgb(243, 237, 237);
  width: 90%;
}

.sidenavbelow {
  bottom: 3px;
  position: fixed;
  flex-direction: column;
}

.sidenav-container {
  border-right: 1px solid rgb(216, 214, 214);
}

.nav-icon {
  font-size: x-large;
}

.modal-box {
  display: flex;
  flex-direction: column;
}

.more-button {
  text-align: left;
  /* background-color: rgb(27, 153, 111); */
  padding: 1em 1em;
  border: 0;
  background-color: white;
  margin: auto;
  border-radius: 10px;
  width: 14em;
}

.more-button:hover {
  cursor: pointer;
  background-color: rgb(243, 237, 237);
}

/* .more-button-acc {
  border-top: 1px solid rgb(44, 32, 32);
  padding: 1em 6em;
  border: 0;
  background-color: white;
  margin: 2px 2px;
  border-radius: 10px;
} */
/* .more-button-acc:hover {
  cursor: pointer;
  background-color: rgb(243, 237, 237);
} */

@media only screen and (max-width: 1300px) {
  .sidenav-container {
    border-right: none;
  }
}
@media only screen and (max-width: 1190px) {
  .sidenav-container {
    border-right: none;
    width: 10vh;
    z-index: 1;
    background-color: white;
  }
  .sidenavbutton span {
    font-size: 0;
  }
  .sidenavLogo {
    display: none;
  }
}

@media only screen and (max-width: 1300px) {
  .sidenav-container {
    border-right: none;
  }
}
