.sidenav-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1; /*this makes navbar to be on top of all elements on screen */
  box-shadow: 20px;
  width: 15%;
  height: 100vh;
}

.sidenavLogo {
  width: 120px;
  margin: 20px 10px 20px 1px;
}

.sidenavButtons {
  display: flex;
  flex-direction: column;
  margin-bottom: 180px;
  top: 5px;
}

.sidenavbutton {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0;
  background: 0;
  margin: 5px 10px;
  padding: 10px 15px;
  border-radius: 10px;
  width: 100%;
}

.sidenavbutton span {
  margin-left: 8px;
  font-size: 15px;
  font-weight: 300;
}

.sidenavbutton:hover {
  cursor: pointer;
  background-color: rgb(243, 237, 237);
  width: 90%;
}

.sidenavbelow {
  bottom: 3px;
  position: fixed;
  flex-direction: column;
}

.sidenav-container {
  border-right: 1px solid rgb(216, 214, 214);
}

.nav-icon {
  font-size: x-large;
}
